.home {
  background-color: #737373;
  background-size: 20px 20px;
  background-image: 
    linear-gradient(to right, #8b9192 1px, transparent 1px), 
    linear-gradient(to bottom, #8b9192 1px, transparent 1px);
}

.homeBlue { 
  border: 1px solid; 
  border-radius: 8px; 
  background-color: #4ab5d6; 
  padding: 24px 
}

.homeDashWhite {
  border: 1px dashed white;
  border-radius: 16px;
  background-color: #4ab5d6;
  padding: 4px;
}

.homeInnerBorder { 
  border: 1px solid;
  border-radius: 8px; 
  background-color: white;
  padding: 20px 10px;
}

.homeLeftPanel {
  border: 1px solid;
  border-radius: 8px;
  background-color: #e6eeee; 
  padding: 15px 10px;
}

.homeLeftPanelInner {
  border: 1px solid white;
  border-radius: 8px; 
  background-color: white; 
  padding: 10px 20px; 
  min-height: 700px;
}

.homeLeftPanelDivider {
  border-top: 1px dotted black;
}

.homeLeftPanelIntroGender {
  color: #f86704; 
  font-size: small;
  border: solid 1px black;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  box-shadow: inset 0px 0px 1px 1px lightgrey;
}

.homeRightPanel {
  border: 1px solid; 
  border-radius: 8px; 
  background-color: white; 
  padding: 10px 30px;
  height: 750px;
  box-shadow: 2px 2px 2px grey;
}

.homeRightPanelInner {
  display: flex;
  height: 730px;
  overflow-y: scroll;
}

.homeRightPanelPostsTitle {
  margin-right: 8px;
  color: #229ed0;
  font-weight: bold;
  font-size: large;
}

.homeRightPanelPostsSubtitle {
  color: grey;
  font-size: small;
}

.homeRightPanelPostsDivider {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px solid grey;
}

.homeRightPanelPostsList {
  padding-left: 20px;
  margin-bottom: 0px;
  color: grey;
}

.homeRightPanelPostsListTag {
  width: 45px;
  text-align: center;
}

.homeRightPanelTable {
  width: 50%;
  border: lightgrey 1px solid;
  margin: 33px 15px 0px 10px;
  border-collapse: collapse;
}

.homeRightPanelTableTd {
  border: lightgrey 1px solid;
  height: 30px;
  padding-left: 5px;
}

.homeRightPanelTableFont {
  color: darkblue;
}